<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
      <div v-text="version">ver : {{ version }}</div>
      <div>
        <span>devicePixelRatio : </span>
        <input v-model='devicePixelRatio' type="number" />
      </div>
      
      <div>
        <span>zoom : {{ zoom }}</span>
      </div>

      <div style="text-align: center;">
        <video ref="video" id="video" width="100%" height="100%" autoplay></video>
        <input type="range" hidden style="width: 80%;height: 50px;">
        <button style="width: 100%;height: 50px;background: greenyellow;font-weight: bold;" color="info" id="snap" v-on:click="capture()">撮る</button>
        <button style="width: 100%;height: 50px;background: darkgray; margin-top: 5px;font-weight: bold;" @click="changeFacingMode()">カメラ切り替え</button>
        <canvas ref="canvas" id="canvas"></canvas>
        
        <div class="capture" v-for="c in captures" v-bind:key="c.d">
          <img v-bind:src="c"  width="100%" height="100%"/>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      video: {},
      canvas: {},
      captures: [],
      version: 'exposureMode continuous 検証',
      zoom: '',
      front: false,
      devicePixelRatio: window.devicePixelRatio
    },
    computed: {
      constraints() {
        return { 
          video: { 
            facingMode: (this.front? { exact: "environment" } : "user" ) ,
            width: { ideal: 1000 },
            height: { ideal: 750 },
            aspectRatio: 4/3
          }
        }
      },
    },
    mounted () {
      this.video = this.$refs.video

      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        this._playVideo()
      }
    },
    methods: {
      changeFacingMode () {
        this.front = !this.front
        this._playVideo()
      },
      capture () {
        this.canvas = this.$refs.canvas
        var scale = this.devicePixelRatio;
        this.canvas.height = this.video.clientHeight * scale
        this.canvas.width = this.video.clientWidth * scale
        this.canvas.getContext('2d').drawImage(this.video, 0, 0, this.canvas.width, this.canvas.height)
        this.captures.push(this.canvas.toDataURL('image/jpeg'))
        console.log(this.captures)
      },
      _playVideo () {
        if(this.video.srcObject){
          this.video.srcObject.getVideoTracks().forEach(video => {
            // ref. https://developer.mozilla.org/ja/docs/Web/API/MediaTrackConstraints#Properties_of_video_tracks
            console.log('video -> ', video.getCapabilities())
            video.stop();
          });
        }

        navigator.mediaDevices.getUserMedia(this.constraints).then(async stream => {
          await this.sleep(500);

          const track = stream.getVideoTracks()[0];
          // ref. https://developer.mozilla.org/ja/docs/Web/API/MediaTrackConstraints#Properties_of_image_tracks
          const capabilities = track.getCapabilities();
          const settings = track.getSettings();
          alert("Capabilities: " + JSON.stringify(capabilities));
          alert("settings: " + JSON.stringify(settings));

          const input = document.querySelector('input[type="range"]');

          // Check whether zoom is supported or not.
          if (capabilities.zoom) {
            input.min = capabilities.zoom.min;
            input.max = capabilities.zoom.max;
            input.step = capabilities.zoom.step;
            input.value = track.getSettings().zoom;

            input.oninput = (event) => {
              this.zoom = event.target.value
              track.applyConstraints({
                advanced : [{focusMode: "manual", zoom: event.target.value}]
              });
            }
            input.hidden = false;
          } else {
            alert('zoomはサポートされてない')
          }

          try {
            const constraints = { advanced : [{exposureMode: 'continuous'}]};
            await track.applyConstraints(constraints);
            
          }catch(e) {
            alert(e.message)
          }
          

          this.video.srcObject = stream
          this.video.play()
        })
      },
      sleep(ms = 0) {
        return new Promise(r => setTimeout(r, ms));
      }
    }
  });
</script>

<style>
  
  #canvas {
    display: none;
  }
  .capture {
    /* display: inline; */
    padding: 5px;
  }
  </style>